[Unit]
Description=Event Manager
Documentation=https://bitbucket.org/neadwerx/event_manager/src/master/
Wants=NetworkManager.service

[Service]
Type=forking
ExecStart=/usr/bin/event_manager-startup.sh
RemainAfterExit=false
ExecStop=/usr/bin/event_manager-shutdown.sh
StandardOutput=journal
ExecReload=/usr/bin/event_manager-reload.sh

KillMode=process
KillSignal=SIGTERM
TimeoutSec=10s

[Install]
WantedBy=multi-user.target
